name: Validate pull request

on:
  pull_request:
    branches:
      - "release/*"

env:
  NODEJS_VERSION: <%= versions.NODEJS %>
  PNPM_VERSION: <%= versions.PNPM %>

jobs:
  check_version_valid_and_new:
    label: Check that the version number is a valid and n ew version number
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v<%= versions.GITHUB_ACTIONS_CHECKOUT %>

      - name: Check Version
        uses: cpdevtools/action-versions@v<%= versions.CPDEVTOOLS_ACTION_VERSIONS %>
        with:
          failInvalidCanCreate: true

  check_build_committed:
    label: Check that javascript files have been built and committed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v<%= versions.GITHUB_ACTIONS_CHECKOUT %>

      - uses: pnpm/action-setup@v<%= versions.PNPM_ACTION_SETUP %>
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false

      - uses: actions/setup-node@v<%= versions.GITHUB_ACTIONS_SETUP_NODE %>
        with:
          node-version: ${{ env.NODEJS_VERSION }}
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile --ignore-scripts

      - name: Build
        run: pnpm run build

      - name: Compare the expected and actual dist directories
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build.  See status below:"
            git diff
            exit 1
          fi
